// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$green-btn: #8ADEB0;
$grey-btn: rgb(160,160,160);
$dark-grey-filter: #4F4F4F;
$pink-sit: #D65D7A;
$blue-sit: #77B6EA;
$yellow-sit: #F3CA40;
$green-sit: #FFFF9A;

$grey-form: rgb(154, 154, 154);

$children-sit: #B6F9C9;
$eldery-sit: #227D69;
$adult-sit: #7DD181;
$teens-sit: #96E8BC;


