// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$green-btn: #8ADEB0;
$grey-btn: rgb(160,160,160);
$dark-grey-filter: #4F4F4F;
$pink-sit: #FFBBE9;
$blue-sit: #91C3FF;
$yellow-sit: #FFFC7F;
$green-sit: #FFFF9A;

$grey-form: rgb(154, 154, 154);

$children-sit: #64BEA9;
$eldery-sit: #227D69;
$adult-sit: #69EBD0;
$teens-sit: #82DB52;


