// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$green-btn: #9BC1BC;
$grey-btn: #C4C4C4;
$dark-grey-filter: #4F4F4F;
$pink-sit: #FC8383;
$blue-sit: #3C63B0;
$purple-sit: #5D576B;
$green-sit: #9BC1BC;

$grey-form: rgb(154, 154, 154);
