<h3>Hello <%= @user.email %>,</h3>

<p>Thanks for joigning Happyseat.fr!</p>

<p>Happyseat is the ultimate seating plan helper for your wedding</p>
<p>It will help you generate a complex seating plan without the hassle.<p>
<p>
You only have to enter your guests with some basics informations (name, age, couple, family side). <br>
The app will then automatically allocated best possible seat for your guests.
Then, you can define conflictual relationship in order to avoid trouble during your event. The person with bad relationship will be automatically separated. <br>
You can adapt the seating plan using drag drop, view guest details by double clicking on the corresponding avatar.</p>

<p>Once all set, you can finalize the seating plan, the app will generate some decorations, and other goodies. the full list can also be exported in excel format.</p>

<p>Long story short, give it a try, you'll not regret it 😉</p>

<p>Best wishes for your wedding!</p>

<p><strong>The Happyseat team</strong></p>
