<div class="wrapper">

<div class="toolbar seating-plan-toolbar">
    <div class="btn-congrats"> Export my guests list</div>
    <div class="btn-congrats">PDF for my seating-plan</div>
    <div class="btn-congrats">My Wedding details</div>
    <div class="btn-congrats">Order my decoration</div>
</div>

<div class="seating-plan-show">
  <h2>Congratulations</h2>
</div>

</div>


