<div class="wrapper">

<div class="toolbar seating-plan-toolbar">
    <div class="btn-congrats"> Export my guests list</div>
    <div class="btn-congrats">PDF for my seating-plan</div>
    <div class="btn-congrats">My Wedding details</div>
    <div class="btn-congrats">Order my decoration</div>
</div>

<div class="seating-plan-show">
  <div>
    <h2>Congratulations</h2>
  </div>
  <div>
    <div class="container">
      <div class="row card-description">

        <div class="col-xs-12 col-sm-4 ">
          <div class="card">
          <div class="card-info">
            <div class="card-title">Table n.5</div>
            <div class="card-content">
              <ul class="list-unstyled">
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
                <li>Nom et Prénom</li>
              </ul>
            </div>
          </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4 ">
          <div class="card-placement">
            <div class="card-info-placement">
              <div class="card-content-placement">Patrick </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

</div>


