<div class="modal fade" id="exampleModalParticipant" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="participant-modal-header" style="background-image: linear-gradient(-225deg, rgba(70,70,70,0.2) 0%, rgba(55,55,55,0.1) 20%), url('<%= image_path "modal-pic.png" %>');">
<!--   <h5 class="modal-title" id="exampleModalLongTitle">Participant details</h5>
          <span aria-hidden="true">&times;</span> -->
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

      </div>

        <div class="modal-text">
          <div class="modal-left">
            <div class="modal-body" id="modalParticipant"></div>
          </div>

          <div class="modal-right">
            <div class="modal-body2" id="modalParticipant2"></div>
          </div>
        </div>

        <div class="modal-bottom">
          <div class="modal-body3" id="modalParticipant3"></div>
        </div>

    </div>
  </div>
</div>


