<div class="wrapper-tables">
    <div class="container-fluid">
      <div class="row">

        <% @tables.each_with_index do |table, index| %>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="table-section">
              <div class="table-card-name"> <h3><%= table.name %></h3></div>
              <div class="table-card">

                <div class="avatar-frame">
                  <div class="row">

                    <% @super_tables["#{index}"].each do |seat| %>
                      <div class="col-xs-3 ml-md-auto">
                        <div class="avatar" id="avatar-<%= seat %>"></div>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="table-frame">
                  <div class="table-frame-nappe" style="background-image: url('<%= image_path "nappe.jpg" %>');"></div>
                </div>




                <!-- <div class="avatar-frame">
                  <%# @nbhaut.times do %>
                    <div class="avatar"></div>
                  <%# end %>
                </div> -->

               <!--  <div class="avatar-frame">
                  <%# @nbbas.times do %>
                    <div class="avatar"></div>
                  <%# end %>
                </div> -->


              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
