/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: $grey-btn;
}

.alert-warning {
  background: $red;
}

.alert-info{
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 40px;
  text-align: center;
  color: $green-btn;
  font-size: 20px;
  border: none;
    background: transparent;

}

.alert-child {
  min-width: 2px;
  display: flex;
  justify-content: center;
}
