/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: $grey-btn;
  margin-bottom: 0;
  animation: move_alert 4s forwards;
  position: absolute;
  width: 100%;
  z-index: 9;
}

@keyframes move_alert {
  0% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}

.alert-warning {
  background: $red;
}

.alert-info{
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 40px;
  text-align: center;
  color: $green-btn;
  font-size: 20px;
  border: none;
  background: transparent;
}

.alert-child {
  min-width: 2px;
  display: flex;
  justify-content: center;
}

.alert-test {
  color: white;
  background: $green;
  margin-bottom: 0;
}
