.avatar {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.avatar_pink {
  background-color: $pink-sit;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  p {
    color: white;
    font-size: 17px;
    font-weight: bolder;
    margin: 13px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
}

.avatar_pink_test {
  background-color: $pink-sit;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
}

.avatar_blue_test {
  background-color: $blue-sit;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
}

.avatar_color_test {
  background-color: $yellow-sit;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  right: -1px;
}

.avatar_blue {
  background-color: $blue-sit;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  p {
    color: white;
    font-size: 17px;
    font-weight: bolder;
    margin: 13px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
}

.avatar_color {
  background-color: $yellow-sit;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  p {

    font-size: 17px;
    font-weight: bolder;
    margin: 13px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
}

.avatar_age {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  position: relative;

  p {
    text-shadow: 0px 0px 2px rgb(60,60,60);
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin: 13px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
}

.avatar_children {

background-color: $children-sit;

}

.avatar_teenagers {

 background-color: $teens-sit;
}

.avatar_adults {
  background-color: $adult-sit;

}

.avatar_elderly {
   background-color: $eldery-sit;
}

.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  margin-right: 7px;
  p {
    color: $grey-btn;
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
    position: sticky;
  }
}
.avatar-frame{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.avatar_bride {
  background: image-url("marieF_v1.png");
  background-size: cover;
  position: relative;
  p {
    display: none;
  }
}

.avatar-bride-login {
  background: image-url("marieF_v1.png");
  background-color: $pink-sit;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  margin-right: 7px;
  width: 72px;
  height: 72px;
  p {
    display: none;
  }
}

.avatar-groom-login {
  background: image-url("Flat_01.png");
  background-color: $blue-sit;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  width: 72px;
  height: 72px;
  p {
    display: none;
  }
}

.avatar_groom {
  background: image-url("Flat_01.png");
  background-size: cover;
  position: relative;
   p { display: none; }
}

.bride-and-groom-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
