.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  p {
    color: $grey-btn;
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
    position: sticky;
  }
}

.avatar_pink {
  background-color: $pink-sit;
  p {
    color: white;
  }
}

.avatar_blue {
  background-color: $blue-sit;
  p {
    color: white;
  }
}

.avatar_color {
  background-color: $purple-sit;
  p {
    color: white;
  }
}

.avatar-small {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid $grey-btn;
  margin-right: 7px;
  p {
    color: $grey-btn;
    font-size: 12px;
    font-weight: bolder;
    margin: 0;
    position: sticky;
  }
}
