.btn-happy-grey {
  background-color: transparent;
  color: $grey-btn;
  border: 1px solid $grey-btn;
  border-radius: 2px;
  &:hover {
  background-color : $grey-btn;
  color: white;
  }

}
.btn-size {
  font-size: 16px;
}

.btn-small {
  font-size: 10px;
}

.green-btn {
  background-color: $green-btn;
  border: none;
  margin-top: 34px;
  color: white;
  font-weight: bold;
  padding: 15px 29px;
  border-radius: 3px;
}

.btn-max {
  width: 100%;
}
