
.toolbar-form {

  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.form-home {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 70px;
  margin-left: 30px;
  margin-right: 30px;
}

.form-label {
  text-align: center;
  padding: 0px 20px;
  h4 {
    font-size: 17px;
    font-weight: light;
  }

}

  .form-control {
    color: $grey-form;
    font-size: 16px;
  }

