.seating-plan-show{
  width: 100%;
  text-align:center;
  h2{
    color: $grey-btn;
    font-size: 143px;
    font-weight: lighter;
  }
}

.seating-plan-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;



}

.btn-congrats {
  width: 120px;
  height: 102px;
  background-color: $green-btn;
  border: none;
  margin: 30px 30px ;
  color: white;
  padding: 15px 15px;
  border-radius: 3px;
  font-size: 17px;
  font-family: bold;
  text-align: center;
  font-family: "Raleway", "Helvetica", "sans-serif";
}

.card {
  margin: 20px 20px;
  padding: 30px 30px;
  background-image: url("image 2.png");
  border: 1px solid $grey-btn;
}
.card-description {


}

.card-title {
  font-family:bold;
  color: $grey-btn;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-size: 28px;
  padding: 10px;

}

.card-content {
  padding: 10px 0px;
}

.card-info {
  border: 2px dashed $grey-btn ;
  background-color: white;
}



.card-info-placement {
  background-image: url("image 2.png");

}

.card-content-placement {
  border: 2px dashed $grey-btn ;
  background-color: white;

}


