
.table-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
    h3 {
      font-size: 19px;
      font-weight: 300;
      line-height: 1.1;
      margin: 18px 0 12px 0;
    }
}

 i {
  color: black;
    opacity: 0.8;
    font-size: 13px;
    padding-left: 10px;
 }

.table-frame {
  border: 1px solid $grey-btn;
  height: 80px;
  width: 80%;
  border-radius: 2px;
  position: relative;
  .table-frame-nappe {
    background-size: cover !important;
    width: 100%;
    height: 30px;
    position: absolute;
    top: 22px;
  }
}

.table-card {
  background-color: white;
  box-shadow: 0 0 5px $grey-btn;
  height: 230px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  position: relative;
  margin-top: 70px;
}

.table-card-name {
  display: flex;
  position: absolute;
  z-index: 3;
  width: 100%;
  // min-height: 70px;
  top: 0;
  h3 .pencil {
    color: black;
    opacity: 0.8;
    font-size: 20px;
    font-family: light;
    font-family: Raleway, Helvetica, sans-serif;
    width: 100%;
    margin-bottom: 5px;
    padding-top: 15px;
  }
  .pencil {
    margin-top: 14px;
  }
}


.table-drop-zone {
  background-color: transparent;
  box-shadow: 0 0 5px $grey-btn;
  height: 65px;
  width: 100%;
  margin-top: 0px;
  padding: 6px 5px 0 5px;
  position:relative;
  display: flex;
  p {
    color: white;
    font-size: 17px;
    font-weight: bolder;
    margin: 13px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
  }
}
