.toolbar {
  flex: 0 0 300px;
  height: 100vh;
  background-color: white;
  border-right: 1px dotted $grey-btn;
  border-top: 1px dotted $grey-btn;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
