// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


.pulse-button {
  box-shadow: 0 0 0 0 rgba(160,160,160, .5);
  -webkit-animation: pulse 3s;
}


@keyframes pulse {
  30% { box-shadow: 0 0 0 50px rgba(160,160,160, 0); }
  100% { box-shadow: 0 0 0 0 rgba(160,160,160, 0); }
}
